body {
	margin: 0;
	user-select: none;
	font-family: tot-shizukasmudgemin-stdn, sans-serif;
	font-weight: 300;
	font-style: normal;
	background-color: #ff699e;
}
#field {
	position: absolute;
	width: 100vw;
	height: 100dvh;
	top: 0;
	left: 0;
	z-index: -1;
}
main {
	position: absolute;
	top: 0;
	left: 0;
}

#splash {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	z-index: inherit;
	background-color: #ff699e;
	#start {
		color: white;
		text-decoration: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.5rem;
		box-sizing: border-box;
		border: white 1pt solid;
		padding: 0 1rem;
		border-radius: 0.3rem;
		opacity: 0;
		visibility: hidden;
	}
	#splash-title {
		color: white;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 3rem;
		position: absolute;
		margin: 0;
	}
}

canvas {
	position: absolute;
	width: 100vw;
	height: 100dvh;
}
