@mixin font01($font-weight: 300) {
	// $font-weight = 300 or 400 or 600
	font-family: "tot-shizukasmudgemin-stdn", sans-serif;
	font-weight: $font-weight;
	font-style: normal;
}

body {
	margin: 0;
}

#introduction {
	width: 100vw;
	height: 100vh;
	writing-mode: vertical-rl;
	background-image: image-set(
		url("../assets/images/2025-05-31 15.58.13.jpg?as=avif&width=3840")
			type("image/avif"),
		url("../assets/images/2025-05-31 15.58.13.jpg?as=webp&width=3840")
			type("image/webp"),
		url("../assets/images/2025-05-31 15.58.13.jpg?as=jpeg&width=3840")
			type("image/jpeg")
	);
	background-size: cover;
	display: grid;
	.text {
		width: 90%;
		height: 90%;
		margin: auto;
		padding: 2rem;
		box-sizing: border-box;
		backdrop-filter: blur(10px);
		background-color: rgba(0, 0, 0, 0.2);
		color: white;
		border-radius: 0.2rem;
		h1 {
			@include font01(600);
			margin: 0;
		}

		p {
			@include font01();
		}
	}
}
